.items-comments {
  .filters_comment {
    margin-top: 2rem;
    width: 100%;
    padding-bottom: 1rem;
    border-bottom: 1px solid #737373;
    a {
      font-size: 1rem;
      color: #737373;
      margin-right: 2rem;
      position: relative;
    }
    .active {
      color: #ff6700;
      font-weight: 700;
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        top: 2.2rem;
        left: 0;
        height: 2px;
        background-color: #ff6700;
      }
    }
  }
  .list-comments {
    width: 100%;
    padding-top: 1.6rem;
    .main-comments {
      .box-content {
        display: flex;
        .users-img {
          width: 2rem;
          height: 2rem;
          margin-right: 0.5rem;
          display: inline-block;
          img {
            border-radius: 50%;
          }
        }
        .main-content {
          width: calc(100% - 2.5rem);
          display: inline-block;
          background-color: aqua;
          padding: 0.5rem;
          border-radius: 1rem;
          .full-name {
            font-weight: bold;
          }
        }
      }
      .list-info-cm {
        padding-top: 0.5rem;
        display: flex;
        justify-content: flex-end;
        .btn {
          background: transparent;
          margin-right: 2rem;
          cursor: pointer;
        }
        .times-cm {
          font-size: 0.9rem;
        }
      }
    }
  }
}
